In [3]:
import pandas as pd
import numpy as np

In [4]:
vehicles_df = pd.read_csv('../vehicles_us.csv')

In [6]:
vehicles_df.info()
vehicles_df.sample(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
25325,20500,2015.0,ford edge,like new,6.0,gas,48900.0,automatic,SUV,NaN,1.0,2018-06-17,12
36883,5995,2006.0,ford explorer,good,6.0,gas,198439.0,automatic,SUV,black,NaN,2018-07-17,32
6767,6000,2014.0,nissan sentra,like new,4.0,gas,89000.0,automatic,sedan,red,NaN,2018-11-01,5
8627,9995,2012.0,ford focus,good,10.0,gas,107722.0,other,sedan,grey,NaN,2018-09-05,9
24269,14499,2014.0,ford escape,good,4.0,gas,82770.0,automatic,SUV,NaN,1.0,2018-12-01,16
10669,7000,NaN,nissan sentra,excellent,4.0,gas,70000.0,automatic,sedan,grey,NaN,2019-02-06,39
29135,19488,2012.0,ram 1500,excellent,8.0,gas,101222.0,automatic,truck,black,1.0,2018-06-21,18
49968,1500,1998.0,jeep grand cherokee laredo,good,6.0,gas,245000.0,automatic,SUV,purple,1.0,2018-11-11,10
40382,17999,2009.0,chevrolet silverado 1500,like new,8.0,gas,99300.0,automatic,truck,black,1.0,2018-09-24,85
36309,6995,2007.0,ford f-150,good,8.0,gas,202849.0,automatic,truck,white,1.0,2019-02-11,17